{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Update Asset</h2>
    <form action="{{ url_for('performUpdateAss', assID=asset_data['AssetID']) }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label>Asset Declaration Type:</label>
            <select id=assetType class="form-control" name="assType" required="1" onchange="updateOptions()">
                <option value="">--Choose--</option>
                <option value="Movable" {% if asset_data['AssDecType']=='Movable' %}selected{% endif %}>Movable</option>
                <option value="Immovable" {% if asset_data['AssDecType']=='Immovable' %}selected{% endif %}>Immovable
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Asset Declaration Category:</label>
            <select id="subAssetType" for="subAssetType" class="form-control" name="assCat" required="1"></select>
        </div>
        <div class="form-group">
            <label>Description:</label>
            <input type="text" class="form-control" name="assDec" required="1" value="{{ asset_data['Description'] }}">
        </div>
        <div class="form-group">
            <label>Address:</label>
            <input type="text" class="form-control" name="assAddr" required="1" value="{{ asset_data['Address'] }}">
        </div>
        <div class="form-group">
            <label>Owner:</label>
            <select class="form-control" name="assOwner" required="1">
                <option value="Self" {% if asset_data['Owner']=='Self' %}selected{% endif %}>Self</option>
                <option value="Shared" {% if asset_data['Owner']=='Shared' %}selected{% endif %}>Shared</option>
            </select>
        </div>
        <div class="form-group">
            <label>Registration Cert No.:</label>
            <input type="text" class="form-control" name="assCert" required="1" value="{{ asset_data['RegCertNo'] }}">
        </div>
        <div class="form-group">
            <label>Date of Ownership:</label>
            <input type="date" class="form-control" name="assDateOwn" required="1"
                value="{{ asset_data['DateOfOwnership'] }}">
        </div>
        <div class="form-group">
            <label>Quantity:</label>
            <input type="number" class="form-control" name="assQuantity" min="1" required="1" value="{{ asset_data['Quantity'] }}">
        </div>
        <div class="form-group">
            <label>Measurement:</label>
            <select class="form-control" name="assMeasurement" required="1">
                <option value="RM" {% if asset_data['Measurement']=='RM' %}selected{% endif %}>Currency (RM) </option>
                <option value="acre" {% if asset_data['Measurement']=='acre' %}selected{% endif %}>acre</option>
                <option value="kg" {% if asset_data['Measurement']=='kg' %}selected{% endif %}>kg</option>
                <option value="units" {% if asset_data['Measurement']=='unit' %}selected{% endif %}>units</option>
            </select>
        </div>
        <div class="form-group">
            <label>Asset Acquisition Value:</label>
            <input type="number" class="form-control" name="assAcqVal" min="1" required="1" value="{{ asset_data['AssAcqVal'] }}">
        </div>
        <div class="form-group">
            <label>Current Asset Value (Estimate):</label>
            <input type="number" class="form-control" name="assCurVal" min="1" required="1" value="{{ asset_data['CurrAssVal'] }}">
        </div>
        <div class="form-group">
            <label>Acquisition Method:</label>
            <select class="form-control" name="assAcq" required="1">
                <option value="Self" {% if asset_data['AcqMethod']=='Self' %}selected{% endif %}>Self</option>
                <option value="Shared" {% if asset_data['AcqMethod']=='Shared' %}selected{% endif %}>Shared</option>
            </select>
        </div>
        <div class="form-group">
            <label>Attachment:</label>
            <input id="attachment" name="attachment" type="file" class="form-control" name="file" required="1" enctype="multipart/form-data"
                            accept=".txt,.pdf,.png,.jpg,.jpeg" value="{{ asset_data['Attachment'] }}" placeholder="{{ asset_data['Attachment'] }}">
        </div>
        <div class="form-group">
            <label for="review">Review:</label>
            <br>
            <textarea textarea id="review" name="review" value="{{ asset_data['Review'] }}" rows="4" cols="50" placeholder="" readonly>{{ asset_data['Review'] }}</textarea>
        </div>
        <div class="form-group">
            <label>Status: </label>
            <input id="status" name="status" type="text" value="{{ asset_data['Status'] }}" readonly>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Update Asset</button>
        </div>
    </form>
</div>
<script>
    function updateOptions() {
    const assetType = document.getElementById('assetType').value;
    const subAssetType = document.getElementById('subAssetType');

    // Clear existing options
    subAssetType.innerHTML = '';

    // Populate options based on asset type
    if (assetType === 'Movable') {
      const movableAssetTypes = ['Cash/Bank Account', 'Motor Vehicles', 'Shares, Stock, Bonds and Securities', 'Jewelleries', 'Licenses and Permits', 'Other Valuables'];
      for (const movableAssetType of movableAssetTypes) {
        const option = document.createElement('option');
        option.value = movableAssetType;
        option.textContent = movableAssetType;

        subAssetType.appendChild(option);
      }
    } else if (assetType === 'Immovable') {
      const immovableAssetTypes = ['Land', 'Landed Property', 'Business owned by Families'];
      for (const immovableAssetType of immovableAssetTypes) {
        const option = document.createElement('option');
        option.value = immovableAssetType;
        option.textContent = immovableAssetType;

        subAssetType.appendChild(option);
      }
    } else {
      // No options for other asset types
    }
  }
</script>
{% endblock %}